:root {
    --neon-color: hsl(317 100% 54%);
    --bg-color: hsl(323 21% 16%);
}

*,*::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: var(--bg-color);
    color: var(--neon-color);
    font-family: "Balsamiq Sans", cursive;
    font-size: 10rem;
}

.neon-button{
    display: inline-block;
    position: relative;
    font-size: 4rem;
    text-decoration: none;
    color: var(--neon-color);
    border: var(--neon-color) 0.125em solid;
}
